<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Community
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Community</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf = "myCommunity">
    <div *ngFor = "let community of myCommunity; index as i">
      <ion-card (click)="openPost(i)">
        <ion-card-header>
          <ion-card-title>{{community.area}}</ion-card-title>
          <ion-card-subtitle>{{community.name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{community.topic}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <!--<app-explore-container name="Tab 3 page"></app-explore-container>-->
  
</ion-content>
