<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="margin-rem">
          <img alt="Silhouette of mountains" src="assets/mother-avatar.jpg" />
          <ion-card-header>
            <ion-card-title class="text-center">Mother</ion-card-title>
          </ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                Age
              </ion-col>
              <ion-col>
                32
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Weight
              </ion-col>
              <ion-col>
                58 kg
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Height
              </ion-col>
              <ion-col>
                68 inches
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="margin-rem">
          <img alt="Silhouette of mountains" src="assets/baby-avatar.jpg" />
          <ion-card-header>
            <ion-card-title class="text-center">Baby</ion-card-title>
          </ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                Week
              </ion-col>
              <ion-col>
                11
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Height
              </ion-col>
              <ion-col>
                1.22 inches
              </ion-col>
            </ion-row>
            <ion-row>
            </ion-row>
            <ion-row>
              <ion-col>
                Weight
              </ion-col>
              <ion-col>
                35 g
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-row>
        <ion-col>
          Expected Birth Week
        </ion-col>
        <ion-col>
          September 2nd-9th
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col>
          Next Doctor's Appointment
        </ion-col>
        <ion-col *ngIf = "isAppointmentset">
          Appointment not set
        </ion-col>
        <ion-col *ngIf = "!isAppointmentset">
          24th March 6:30 p.m
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col>
          Next Diagnostic Appointment
        </ion-col>
        <ion-col *ngIf = "!isAppointmentset">
          Appointment not set
        </ion-col>
        <ion-col *ngIf = "isAppointmentset">
          24th March 6:30 p.m
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

</ion-content>
